{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="contact">
        <div class="contact-item">
            <h1>О нас:</h1>
            <p>Модус Авто - один из крупнейших российских автодилеров. В портфеле холдинга 37 мировых автомобильных
                бренда.

                Мы предлагаем полный комплекс услуг, связанных с продажей новых и подержанных автомобилей. На складах
                компании свыше двухсот автомобилей различных цветов и комплектаций. Среди ассортимента представленных
                автомобилей наиболее популярны представители европейского, азиатского и российского производств. Для
                каждого клиента в нашем автосалоне предоставляется полная персональная консультация по вопросам
                приобретения транспортного средства.

                Все вопросы о наличии, цветах и комплектациях автомобилей, а также по работе автосалона Вы всегда можете
                узнать по телефону, указанному на сайте, а также при помощи формы обратной связи.

                Мы ценим каждого клиента и гарантируем высокий уровень сервиса.</p>
            <div class="grafik">
            <h1>График работы:</h1>
            <h3>Понедельник: 08:00 - 20:00</h3>
            <h3>Вторник:     08:00 - 20:00</h3>
            <h3>Среда:       08:00 - 20:00</h3>
            <h3>Четверг:     08:00 - 20:00</h3>
            <h3>Пятница:     08:00 - 20:00</h3>
            <h3>Суббота:     08:00 - 20:00</h3>
            <h3>Воскресенье: 08:00 - 20:00</h3>
                </div>
            <h3><img src="https://sun9-38.userapi.com/impg/PXOqgd2WrlBE1T61Nn8a8v564WH4QEvhzyHzWw/QLPZye2uEVk.jpg?size=1073x771&quality=96&sign=9ab0ce9f6873cf2cfd8e88e80b298738&type=album" height="450px" weigth="450px"></h3>
            <h2>ул 9-го Января, д. 48, Брянск, Брянская обл., </h2>

            </div>

    </div>

</div>

{% endblock %}