{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper">
    <div class="header-img">
        <img src="https://br-avtomir-lada.ru/img/bg1.jpg" width="1206px" height="440px">
    </div>
    <h1 class="model-ryd">Модельный ряд</h1>

    <div class="auto">
        {% for m in model %}
        <div class="auto-item">
            <a href="{{url_for('model_info', id=m.id)}}">
            <img src="{{m.foto}}" width="300px"></a>
            <h2>{{m.name}}</h2>
            <p>Price</p>
            <h2>{{m.price}}</h2>

        </div>
{% endfor %}
    </div>
    <div class="dop">
            <a href="/model">
                Показать все
            </a>
    </div>
</div>

{% endblock %}
