{% extends "base.html" %}
{% block content %}
{{super()}}

<div class="wrapper">
    <div class="model">
        <div class="model-item">
            <a href="{{url_for('Volkswagen_Polo')}}"> <img
                    src="/static/img/Polo.png"
                    width="370px" height="250px"></a>
            <h2>Volkswagen Polo</h2>
            <p>Price</p>
            <h2>1 450 000 ₽</h2>
        </div>
        <div class="model-item">
            <a href="{{url_for('Volkswagen_Jetta')}}"><img
                    src=""
                    width="370px" height="250px"></a>
            <h2>Volkswagen Jetta</h2>
            <p>Price</p>
            <h2>1 850 000 ₽</h2>
        </div>
        <div class="model-item">
            <a href="{{url_for('Volkswagen_Tiguan')}}"><img
                    src="https://autosalon-vw.ru/resources/bodies/6e3a1bef043229fc18e511396b3ef6992820e786.png"
                    width="370px" height="250px"></a>
            <h2>Volkswagen Tiguan</h2>
            <p>Price</p>
            <h2>2 250 000 ₽</h2>
        </div>
        <div class="model-item">
            <a href="{{url_for('Volkswagen_Teramont')}}"><img
                    src="https://autosalon-vw.ru/resources/bodies/550fef8344ea788c37385fd9c3f57428ee7879ed.png"
                    width="370px" height="250px"></a>
            <h2>Volkswagen Teramont</h2>
            <p>Price</p>
            <h2>2 750 000 ₽</h2>
        </div>
        <div class="model-item">
            <a href="{{url_for('Volkswagen_Taos')}}"><img
                    src="https://autosalon-vw.ru/resources/bodies/b8586c69acec14d829a0f0aec26851cc09a41c9d.png"
                    width="370px" height="250px"></a>
            <h2>Volkswagen Taos</h2>
            <p>Price</p>
            <h2>1 750 000 ₽</h2>
        </div>
    </div>
</div>
</div>

{% endblock %}